<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/error-template.xhtml">
  <ui:define name="title">権限エラー</ui:define>
  <ui:define name="errorMessage">この画面を表示する権限がありません。</ui:define>
</ui:composition>
</html>