<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/WEB-INF/templates/template.xhtml">

  <ui:define name="content">

    <div class="container-fluid">
      <p class="errmsg">
        <ui:insert name="errorMessage" />
      </p>
      <div>
        <a href="#{facesContext.externalContext.requestContextPath}/">トップへ戻る</a>
      </div>
    </div>
  </ui:define>

</ui:composition>
</html>
