<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/WEB-INF/templates/template.xhtml">

  <ui:define name="content">
    <h:form prependId="false" styleClass="form-horizontal">
      <h1 class="page-header"><ui:insert name="title"/></h1>
      <ui:insert name="form"></ui:insert>
    </h:form>
  </ui:define>

</ui:composition>
</html>
