<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button id="navbutton" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
            class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <h:link styleClass="navbar-brand">SIToolkit for Application Development</h:link>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><h:link outcome="/pages/management/user-input">ユーザー登録</h:link></li>
          <li><h:link outcome="/pages/management/user-list">ユーザー一覧</h:link></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><h:link outcome="/login" rendered="#{not loginController.loggedIn}">ログイン</h:link> <h:link
              outcome="/logout" rendered="#{loginController.loggedIn}">ログアウト</h:link></li>
        </ul>
      </div>

    </div>
  </nav>

</ui:composition>
</html>
