<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
  xmlns:cmp="http://java.sun.com/jsf/composite/cmp" xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/WEB-INF/templates/form-template.xhtml">

  <ui:define name="title">ログイン</ui:define>
  <ui:define name="form">

    <h:panelGroup rendered="#{not loginController.loggedIn}">

      <p>
        ユーザーID、パスワードを入力し、「ログイン」ボタンをクリックしてください。<br />
        デフォルトで有効なユーザーIDはadminまたはuser、パスワードはsitoolkit1です。
      </p>

      <cmp:inputText id="userId" label="ユーザーID" value="#{loginController.loginId}" />
      <cmp:inputSecret id="password" label="パスワード" value="#{loginController.password}" />

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <h:commandButton id="login" action="#{loginController.login}" value="ログイン"
            styleClass="btn btn-default" />
        </div>
      </div>

    </h:panelGroup>

    <h:panelGroup rendered="#{loginController.loggedIn}">
      <p>ユーザーID </p>
    </h:panelGroup>

  </ui:define>
</ui:composition>
</html>