<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
  xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/WEB-INF/templates/template.xhtml">

  <ui:define name="title">ログアウト</ui:define>

  <f:metadata>
    <f:viewAction action="#{loginController.logout}" />
  </f:metadata>

</ui:composition>
</html>